<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.njtu.mapper.BusinessMapper" >
  <resultMap id="BaseResultMap" type="edu.njtu.model.Business" >
    <id column="business_id_int" property="businessIdInt" jdbcType="BIGINT" />
    <id column="business_id" property="businessId" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="full_address" property="fullAddress" jdbcType="VARCHAR" />
    <result column="latitude" property="latitude" jdbcType="VARCHAR" />
    <result column="longitude" property="longitude" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="open" property="open" jdbcType="BIT" />
    <result column="review_count" property="reviewCount" jdbcType="BIGINT" />
    <result column="stars" property="stars" jdbcType="BIGINT" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    business_id_int, business_id, city, full_address, latitude, longitude, name, open, 
    review_count, stars, state, type
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="edu.njtu.model.BusinessExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from business
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="edu.njtu.model.BusinessKey" >
    select 
    <include refid="Base_Column_List" />
    from business
    where business_id_int = #{businessIdInt,jdbcType=BIGINT}
      and business_id = #{businessId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="edu.njtu.model.BusinessKey" >
    delete from business
    where business_id_int = #{businessIdInt,jdbcType=BIGINT}
      and business_id = #{businessId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="edu.njtu.model.BusinessExample" >
    delete from business
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="edu.njtu.model.Business" >
    insert into business (business_id_int, business_id, city, 
      full_address, latitude, longitude, 
      name, open, review_count, 
      stars, state, type)
    values (#{businessIdInt,jdbcType=BIGINT}, #{businessId,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, 
      #{fullAddress,jdbcType=VARCHAR}, #{latitude,jdbcType=VARCHAR}, #{longitude,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{open,jdbcType=BIT}, #{reviewCount,jdbcType=BIGINT}, 
      #{stars,jdbcType=BIGINT}, #{state,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="edu.njtu.model.Business" >
    insert into business
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="businessIdInt != null" >
        business_id_int,
      </if>
      <if test="businessId != null" >
        business_id,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="fullAddress != null" >
        full_address,
      </if>
      <if test="latitude != null" >
        latitude,
      </if>
      <if test="longitude != null" >
        longitude,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="open != null" >
        open,
      </if>
      <if test="reviewCount != null" >
        review_count,
      </if>
      <if test="stars != null" >
        stars,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="type != null" >
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="businessIdInt != null" >
        #{businessIdInt,jdbcType=BIGINT},
      </if>
      <if test="businessId != null" >
        #{businessId,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="fullAddress != null" >
        #{fullAddress,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="open != null" >
        #{open,jdbcType=BIT},
      </if>
      <if test="reviewCount != null" >
        #{reviewCount,jdbcType=BIGINT},
      </if>
      <if test="stars != null" >
        #{stars,jdbcType=BIGINT},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="edu.njtu.model.BusinessExample" resultType="java.lang.Integer" >
    select count(*) from business
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update business
    <set >
      <if test="record.businessIdInt != null" >
        business_id_int = #{record.businessIdInt,jdbcType=BIGINT},
      </if>
      <if test="record.businessId != null" >
        business_id = #{record.businessId,jdbcType=VARCHAR},
      </if>
      <if test="record.city != null" >
        city = #{record.city,jdbcType=VARCHAR},
      </if>
      <if test="record.fullAddress != null" >
        full_address = #{record.fullAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.latitude != null" >
        latitude = #{record.latitude,jdbcType=VARCHAR},
      </if>
      <if test="record.longitude != null" >
        longitude = #{record.longitude,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.open != null" >
        open = #{record.open,jdbcType=BIT},
      </if>
      <if test="record.reviewCount != null" >
        review_count = #{record.reviewCount,jdbcType=BIGINT},
      </if>
      <if test="record.stars != null" >
        stars = #{record.stars,jdbcType=BIGINT},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update business
    set business_id_int = #{record.businessIdInt,jdbcType=BIGINT},
      business_id = #{record.businessId,jdbcType=VARCHAR},
      city = #{record.city,jdbcType=VARCHAR},
      full_address = #{record.fullAddress,jdbcType=VARCHAR},
      latitude = #{record.latitude,jdbcType=VARCHAR},
      longitude = #{record.longitude,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      open = #{record.open,jdbcType=BIT},
      review_count = #{record.reviewCount,jdbcType=BIGINT},
      stars = #{record.stars,jdbcType=BIGINT},
      state = #{record.state,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="edu.njtu.model.Business" >
    update business
    <set >
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="fullAddress != null" >
        full_address = #{fullAddress,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null" >
        latitude = #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        longitude = #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="open != null" >
        open = #{open,jdbcType=BIT},
      </if>
      <if test="reviewCount != null" >
        review_count = #{reviewCount,jdbcType=BIGINT},
      </if>
      <if test="stars != null" >
        stars = #{stars,jdbcType=BIGINT},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
    </set>
    where business_id_int = #{businessIdInt,jdbcType=BIGINT}
      and business_id = #{businessId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.njtu.model.Business" >
    update business
    set city = #{city,jdbcType=VARCHAR},
      full_address = #{fullAddress,jdbcType=VARCHAR},
      latitude = #{latitude,jdbcType=VARCHAR},
      longitude = #{longitude,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      open = #{open,jdbcType=BIT},
      review_count = #{reviewCount,jdbcType=BIGINT},
      stars = #{stars,jdbcType=BIGINT},
      state = #{state,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR}
    where business_id_int = #{businessIdInt,jdbcType=BIGINT}
      and business_id = #{businessId,jdbcType=VARCHAR}
  </update>
</mapper>