<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.njtu.mapper.RecommendDefaultMapper" >
  <resultMap id="BaseResultMap" type="edu.njtu.model.RecommendDefault" >
    <id column="business_id" property="businessId" jdbcType="VARCHAR" />
    <result column="business_id_int" property="businessIdInt" jdbcType="BIGINT" />
    <result column="recommend_value" property="recommendValue" jdbcType="REAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    business_id, business_id_int, recommend_value
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="edu.njtu.model.RecommendDefaultExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from recommend_default
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from recommend_default
    where business_id = #{businessId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from recommend_default
    where business_id = #{businessId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="edu.njtu.model.RecommendDefaultExample" >
    delete from recommend_default
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="edu.njtu.model.RecommendDefault" >
    insert into recommend_default (business_id, business_id_int, recommend_value
      )
    values (#{businessId,jdbcType=VARCHAR}, #{businessIdInt,jdbcType=BIGINT}, #{recommendValue,jdbcType=REAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.njtu.model.RecommendDefault" >
    insert into recommend_default
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="businessId != null" >
        business_id,
      </if>
      <if test="businessIdInt != null" >
        business_id_int,
      </if>
      <if test="recommendValue != null" >
        recommend_value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="businessId != null" >
        #{businessId,jdbcType=VARCHAR},
      </if>
      <if test="businessIdInt != null" >
        #{businessIdInt,jdbcType=BIGINT},
      </if>
      <if test="recommendValue != null" >
        #{recommendValue,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="edu.njtu.model.RecommendDefaultExample" resultType="java.lang.Integer" >
    select count(*) from recommend_default
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update recommend_default
    <set >
      <if test="record.businessId != null" >
        business_id = #{record.businessId,jdbcType=VARCHAR},
      </if>
      <if test="record.businessIdInt != null" >
        business_id_int = #{record.businessIdInt,jdbcType=BIGINT},
      </if>
      <if test="record.recommendValue != null" >
        recommend_value = #{record.recommendValue,jdbcType=REAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update recommend_default
    set business_id = #{record.businessId,jdbcType=VARCHAR},
      business_id_int = #{record.businessIdInt,jdbcType=BIGINT},
      recommend_value = #{record.recommendValue,jdbcType=REAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="edu.njtu.model.RecommendDefault" >
    update recommend_default
    <set >
      <if test="businessIdInt != null" >
        business_id_int = #{businessIdInt,jdbcType=BIGINT},
      </if>
      <if test="recommendValue != null" >
        recommend_value = #{recommendValue,jdbcType=REAL},
      </if>
    </set>
    where business_id = #{businessId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.njtu.model.RecommendDefault" >
    update recommend_default
    set business_id_int = #{businessIdInt,jdbcType=BIGINT},
      recommend_value = #{recommendValue,jdbcType=REAL}
    where business_id = #{businessId,jdbcType=VARCHAR}
  </update>
</mapper>